.container {
  background-color: #FBFBFB;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.0212249);
  border-radius: 5px;
  width: 835px;
  height: 320px;
  position: relative;
  grid-column: span 3;
}

.title {
  font-weight: 500;
  font-size: 15px;
  position: absolute;
  top: 24px;
  left: 32px;
}
