.firstname {
  color: red;
}

aside {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  margin: 2rem auto 1rem 1rem;
  width: fit-content;
}

.title {
  width: fit-content;
  margin-left: 2rem;
}

.message {
  margin-left: 2rem;
}

.data {
  align-self: center;
  margin: auto;
  color: #282D30;
  font-size: 20px;
  font-weight: 700;
}

.data-category {
  color: #74798C;
  font-size: 14px;
  font-weight: 500;
}

@media screen and (min-width: 1440px) {
  aside {
    float: right;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
