.card {
  display: flex;
  width: 258px;
  height: 124px;
  background-color: #FBFBFB;
  border-radius: 5px;
  margin: 2rem;
  padding: 2rem;
}

.icon {
  border: 1px solid red;
}

.data {
  border: 1px solid blue;
}