.tooltip {
  background-color: #E60000;
  color: #fff;
  font-size: .8rem;
  font-weight: 700;
  margin: 0;
}

.val {
  background-color: #E60000;
  padding: 0.8em;
  text-align: center;
  font-weight: 500;
}